.App {
    background-color: black;
    color: rgb(230, 227, 227);
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 1fr 2.3fr;
    grid-template-rows: 120px 1fr;
    min-height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
}

.app_header {
    margin-top: auto;
    margin-bottom: auto;
    grid-area: header;
    padding-left: 15px;
    font-size: 25px;
}